<% layout("/layouts/boilerplate") %>

<div class="container mt-5 text-center">
  <h1>✅ Payment Successful!</h1>
  <p>Your booking has been confirmed.</p>
  <a href="/" class="btn btn-success">Go to Home</a>
</div>
<%- include("../includes/footer") %>
