<% layout("/layouts/boilerplate") %>

<div class="container mt-3">
  <div class="row">
    <div class="col-8 offset-2">
      <h1>Login To Wanderlust</h1>
      <form action="/login" method="POST" novalidate class="needs-validation">
        <div class="mb-3">
          <label for="username" class="form-label">Username</label>
          <input
            type="text"
            id="username"
            name="username"
            class="form-control"
            required
          />
        </div>

         <div class="mb-3">
          <label for="password" class="form-label">Password</label>
          <input
            type="password"
            id="password"
            name="password"
            class="form-control"
            required
          />
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
      </form>
    </div>
  </div>
</div>
